# Next.js
.next/
out/
build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.env
backend/.env
backend/app/.env

# Dependencies
node_modules/
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Project old files
artifacts/
lib/
scripts/
pnpm-workspace.yaml
pnpm-lock.yaml
package-lock.json
yarn.lock
